body {
    background-color: #eec951; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.container {
    border: 1px solid black; 
    padding: 20px; 
    text-align: center; 
    background-color: white;
}

.NomeClass {
    margin-top: 20px;
}

.img {
    width: 100px; 
    height: auto;
}
